<mat-drawer-container class="example-container remmar" [ngStyle]="{'height': 'calc( 100vh - '+ getHeight()+')'}">
  <mat-drawer mode="side" closed>Drawer content</mat-drawer>
  <mat-drawer-content>
    <div>
      <div fxLayout="column" fxLayoutGap="30px" style="padding: 30px;">
        <div>
          <mat-card style="width: 100%;height: 300px;" fxLayout="row" fxLayoutAlign="space-between center"
            fxLayoutGap="15px">
            <div fxFlex="15" fxFlex="nogrow">
              <div class=""
                style="background-image: url(https://avatars.githubusercontent.com/u/16868472?v=4); background-size: cover;height: 260px; width: 260px;">
              </div>
            </div>
            <div fxFlex="65" style="border-left: 1px solid #c4c4c4; height: 100%; padding-left: 30px;" fxLayout="column"
              fxLayoutAlign="space-between start">
              <div class="" style="padding-top:20px; font-size: 40px;
                font-weight: 300;
                color: pink;">Senior Web Developer</div>
                <div class="" style="width: 41%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b3b7d2;">
                  Bio : An It proffesional with a demonstrated history of working in the information technology and services industry. Skilled in JavaScript, Java, Angular 2+, HTML 5, CSS, SCSS, POSTMAN, REST API, AWS.
                </div>
                <div class="" fxLayout="column" fxLayoutGap="10px" style="padding-bottom: 15px;">
                  <div class="" style="font-size: 18px; color: #ffffff91;
                  font-weight: 200;
                ">Location : Bangalore</div>
              <div class="" style="font-size: 18px; color: #ffffff91;
                  font-weight: 200;
                ">Contact : 7992399085 </div>
              <div class="" style="font-size: 18px; color: #ffffff91;
                  font-weight: 200;
                ">Mail : manishsharan@live.com</div>
                </div>

            </div>
            <div fxFlex="20">bye</div>
          </mat-card>

        </div>

        <div style="display: flex; justify-content: center;">

        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
