<div class="remmar" [ngStyle]="{'height': 'calc( 100vh - '+ getHeight()+')'}">
  <div style="width: 70%;height: 80%; position: relative;">
    <iframe src="../../assets/ManishAngular.pdf#toolbar=0" width="100%" height="100%">
    </iframe>
    <div class="example-button-container" style="position: absolute; bottom: 30px; right: 45px;">
    <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" (click)="downloadFile()">
      <mat-icon>download</mat-icon>
    </button>
  </div>
  </div>
</div>
