<div class="" fxLayout="column" fxLayoutGap="40px">
  <div class="" style="display: flex;flex-direction: row; padding-top: 40px;">
    <div class="" style="flex: 1 0 300px;">
      <h3><span style="font-weight: 600;">DESC:&nbsp;</span>BYJU Application</h3>
    </div>
    <div class="" style="flex: 0 1 100%;display: flex; justify-content: center;">
        <iframe src="https://stackblitz.com/edit/byju-assignment?embed=1&file=src/app/app.component.ts&hideExplorer=1&hideNavigation=1&theme=dark&view=preview" frameborder="0" width="95%" height="680"></iframe>
    </div>

  </div>

  <div class="" style="display: flex;flex-direction: row; padding-top: 40px;">
    <div class="" style="flex: 1 0 300px;">
      <h3><span style="font-weight: 600;">DESC:&nbsp;</span>BYJU Application Testing Using JASMIN</h3>
    </div>
    <div class="" style="flex: 0 1 100%;display: flex; justify-content: center;">
        <iframe src="https://stackblitz.com/edit/byju-assignment-unit-testing?embed=1&file=src/app/app.component.ts&hideExplorer=1&hideNavigation=1&view=preview" frameborder="0" width="95%" height="680"></iframe>
    </div>

  </div>
</div>
