.col {
  height: 100vh;
}

.rm-padd {
  padding-right: 0px;
  padding-left: 0px;
}

.navbarwrapper {
  margin-right: -15px;
  margin-left: -15px;
}

.navbar-inner {
    background:transparent;
}

.nav-item {
  font-weight: 400;
  font-size: 18px;
}

.navbar-brand {
  font-size: 20px;
}
