<div class="col">
  <div class="navbarwrapper">
    <mat-toolbar color="primary" style="height: 100%;">

      <nav class="navbar navbar-dark navbar-expand-md" style="width: 100%">
        <div class="container-fluid rm-padd"><a class="navbar-brand">Manish Sharan</a><button
            data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" (click) = "toggle()"><span class="sr-only">Toggle
              navigation</span><span class="navbar-toggler-icon"></span></button>
          <div
            class="collapse navbar-collapse d-xl-flex justify-content-md-end justify-content-lg-end justify-content-xl-end"
            id="navcol-1">
            <ul class="nav navbar-nav">
              <li class="nav-item" role="presentation" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/']">CV</a></li>
              <li class="nav-item" role="presentation" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/projects']">Projects</a>
              </li>
              <li class="nav-item" role="presentation" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"><a class="nav-link" [routerLink]="['/blogs']">Blogs</a></li>
            </ul>
          </div>
        </div>
      </nav>

    </mat-toolbar>
  </div>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
